
.canvas-container {
    width: 100%;
    height: 100%;
}

*
{
    text-rendering:optimizeSpeed!important;
    font-family: "MS UI Gothic", "monospace";
}

#c {
    image-rendering:pixelated;
    /*min-height: 100%;*/
    border: 1px solid black;
}

body {
    background-color: #383838;
    overflow: hidden;
}

.drawcontainer {
    background-color: black;
    display: grid;
    height: 95%;
    grid-template-columns: 90% 10%;
    grid-template-rows: 100%;
    place-items: center;
}

.ui-side-toolbar {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #585858;
}

.ui-bottom-toolbar {
    display: grid;
    grid-template-columns: 5% repeat(32, 1fr);
    grid-template-rows: 100%;
    width: 100%;
    height: 5%;
    background-color: #585858;
    align-items: center;
    padding: 2px;
    margin: 2px;
}

.ui-bottom-toolbar button {
    height: 100%;
    background: #c5c5c5;
    padding: 10px;
    color: black;
    font-family: "ms ui gothic", sans-serif;
    text-rendering: optimizeSpeed;
    font-size: 2vh;
    border-top: 3px solid rgb(255, 255, 255);
}

.ui-bottom-toolbar img {
    overflow: hidden;
    width: 16px;
}

.overlaychar-container {
    pointer-events:none;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: auto;
    height: 50%;
    transform: scale(0.5, 0.5);
}

.overlaychar-container img {
    filter: drop-shadow( 12px 12px 0px rgb(0 0 0 / 20%));
}

.overlaychar-container .overlaytool {
    position: absolute;
    left: -30%;
    bottom: 100%;
}

.overlaychar {
    animation: charbob ease-in-out 1s infinite;
}

.overlaychar-transform1 {
    animation: charrot ease-in-out 1s 0.25s infinite;
}

#colorpicker {
    position: fixed;
    right: 1.5%;
    top: 1%;
    margin: 1vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#colorpicker canvas { 
    box-shadow: 6px 6px rgb(0 0 0 / 20%);
    grid-area: 1 / 1 / 2 / 4;
    border: 2px solid black;
}

.colorcontainer {
    margin: 12px;
    display: grid;
    height: 20%;
    grid-area: 2 / 2 / 3 / 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2px; 
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

.colorcontainer div {
    border: 2px solid black;
    box-shadow: 6px 6px rgb(0 0 0 / 20%);
}

#mainpicker { grid-area: 1 / 1 / 3 / 3; }
#subpicker { grid-area: 2 / 2 / 4 / 4; } 

.toast {
    z-index: 40;
    position: fixed;
    margin: auto;
    width: 10%;
    text-align: center;
    padding: 10px;
    font-family: "MS UI Gothic", "monospace";
    background-color: black;
    color: white;
    opacity: 0%;
    animation: toast 2s forwards;
}

.layercontainer {
    display: grid;
    position: fixed;
    width: 10%;
}


.layer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    margin: 4px;
    background-color: #383838;
    border: 1px solid black;
    box-shadow: 6px 6px 0px rgba(0,0,0,0.4);
}

.layer-active {
    border: 1px solid rgba(255,255,255,0.3);
    background-color: #585858;
    color: black;
}

.layer:hover {
    filter:invert();
}

.layer * {
    margin: 2px;
}

.layer-img {
    background-color: #585858;
    grid-area: 1/1/3/2;
}

.layer-img canvas {
    width: 100%; /* image box size as % of container, see step 1 */
    height: 100%; /* image box size as % of container, see step 1 */
    object-fit: scale-down;
}

.opacity-ctrl {
    padding: 200px;
}

.layer-text {
    color: #AAAAAA;
    text-shadow: 1px 1px black;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-area: 1/2/2/3;
}

.layer-buttons {
    grid-area: 2/2/3/3;
}

.toast {
    position: fixed;
    margin: auto;
    width: 10%;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    opacity: 0%;
    animation: toast 2s forwards;
    pointer-events: none;
}

@keyframes charbob {
    0% { }
    50% { transform: translateY(2vh); }
    100% { }
}

@keyframes charrot {
    0% { transform: rotateZ(-2deg); }
    50% { transform: rotateZ(3deg); }
    100% { transform: rotateZ(-2deg); }
}

@keyframes toolrot {
    0% { transform: scale(0.65, 0.65) rotateY(12deg) }
    50% { transform: scale(0.68, 0.68) rotateY(12deg) }
    100% { transform: scale(0.65, 0.65) rotateY(12deg) }
}

@keyframes spin {
    100% { transform: rotateZ(360deg); }
}

@keyframes toast {
    0% { opacity: 100%; }
    50% { opacity: 100%; }
    100% { opacity: 0%; }
}